.bodyStyle {
  background-color: rgba(165, 210, 247, 0.897);
  display: flex;
  flex-direction: column;
  justify-content: center;
  size: 90vw;
}

.inputStyle {
  background-color: rgb(233, 245, 252);
  margin: 5px 20px;
  border-radius: 5px;
  max-width: 90vw;
  height: auto;
  text-align: center;
  padding: 20px 20px;
}
.btnStyle {
  color: rgb(234, 241, 247);
  background-color: rgb(113, 161, 223);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 5px 5px;
}
.inputBtn {
  align-items: flex-start;
  width: 50%;
  height: 25px;
  margin: 1px 5px;
}
.currentWeather {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: auto auto auto;
  text-align: start;
  font-size: 15px;
}
.weatherStyle {
  background-color: rgb(233, 245, 252);
  margin: 5px 20px;
  border-radius: 5px;
  max-width: 90vw;
  height: auto;
  text-align: center;
  padding: 20px 20px;
  font-size: 15px;
}
.forecastStyle {
  display: grid;
  grid-row-start: 1;
  grid-template-columns: auto auto auto;
  grid-column-gap:10px ;
  grid-auto-flow: dense;
  grid-template-rows: auto auto auto;
  background-color: rgb(233, 245, 252);
  margin: 5px 20px;
  border-radius: 5px;
  max-width: 90vw;
  height: auto;
  text-align: center;
  padding: 20px 20px;
  font-size: 15px;
}
.forecastTitle {
  grid-column-start: 1;
  grid-column-end: span 8;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.item {
  grid-column-start: 2;
  grid-column-end: 3;
}
.item1 {
  grid-column-start: 2;
  grid-column-end: 3;
  /* grid-row-start: 2;
  grid-row-end: 3; */
}
.item2 {
  grid-column-start: 3;
  grid-column-end: 4;
  /* grid-row-start: 2;
  grid-row-end: 3; */
}
.item3 {
  grid-column-start: 4;
  grid-column-end: 5;
  /* grid-row-start: 2;
  grid-row-end: 3; */
}
.item4 {
  grid-column-start: 5;
  grid-column-end: 6;
  /* grid-row-start: 2;
  grid-row-end: 3; */
}
.item5 {
  grid-column-start: 6;
  grid-column-end: 7;
  /* grid-row-start: 2;
  grid-row-end: 3; */
}
.item6 {
  grid-column-start: 7;
  grid-column-end: 8;
  /* grid-row-start: 2;
  grid-row-end: 3; */
}
.startGrid{
  text-align: center;
   grid-row-start: 2;
   background-color: rgb(58, 58, 77);
   color: rgb(180, 192, 188);
}
.startWheaterdsp{
  grid-row-start: 3;
}